**/*.config.profile*
.vagrant/
**/packages.config
Thumbs.db
.DS_Store
obj/
*_prod.dll
*.patch
*.pdb
*.suo
*.user
*.log
*.datasource
*.userprefs
*.orig
bin/
!BinaryReferences/**/bin/
Bin/Debug
Output/
Bin/Release
TestResults/
test-results/
TestResult.xml
*.datasource
*.wsdl
*.xsd
SDK/DotNET/Docs/Help/Working
*.xam
SDK/DotNET/Client/Resources/Resource.designer.cs
SDK/DotNET/Docs/Help
Buddy.Core/Buddy.Core/Interchange/Proto/BuddyCoreMessages.cs
Tools/Google.ProtocolBuffers.dll
Docs.shfbproj_*
Docs/~$Server Colo - IP Mapping.xlsx
BuddyRegion.json
Sites/DevPortal/DevPortal/Scripts/console/buddy.js
test/Buddy.Core.Test/BuddyRegion.test.json
test/Buddy.core.Test/BuddyRegion.test-eur.json
packages
*.psess
*.vspx
*.vsp
US
webservice.buddyplatform.com/unittests/.nuget
test/dashboard/Run_*/
